@using Microsoft.AspNetCore.Identity
@using ProjectBlogCore.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Panel.cshtml";
}

<h4>Ola @UserManager.GetUserName(User)!</h4>


